<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta charset="UTF-8">
        <title>观看直播</title>
        <link type="text/css" rel="stylesheet" href="/css/watchLive.css"/>
    </head>

    <body>
        <div id="videoBox">
            <video id="video" autoplay></video>
        </div>
        <label for="userName">用户名</label><input type="text" id="userName" name="userName" />
        <label for="receiver">主播名</label><input type="text" id="receiver" name="receiver" />
        <button onclick="communication()">建立视频通信</button>
    </body>

    <script type="text/javascript" src="/js/watchLive.js"></script>
</html>